@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', system-ui, sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Fraunces', serif;
  }
}
